[core]
    editor = /usr/bin/vim
[push]
    default = simple
[user]
    name = Miquel Ruiz
    email = self@miquelruiz.net
[color]
    ui = always
    status = always
[github]
    user = miquelruiz
    token =
[alias]
    ci = commit
    co = checkout
    st = status
    df = diff
    br = branch
    idx = diff --cached
    sl = log --graph --oneline --decorate --all
