[core]
    editor = /usr/bin/vim
[user]
    name = Miquel Ruiz
    email = mruiz@cpan.org
[color]
    ui = always
[github]
    user = miquelruiz
    token =
[alias]
    ci = commit
    co = checkout
    st = status
    df = diff
    br = branch
    idx = diff --cached
    graph = log --graph --oneline --decorate
