xterm*termName: xterm-256color
xterm*saveLines: 4096
xterm*allowBoldFonts: false
xterm*selectToClipboard: true
xterm*faceName: terminus
*foreground: rgb:d2/d2/d2
*background: rgb:08/08/08
URxvt.font: xft:terminus:size=14:antialias=false
URxvt.boldFont:
URxvt.color12: rgb:5c/5c/ff
URxvt.scrollBar: false
URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 30
URxvt*saveLines: 10000
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.urgentOnBell: true
